@font-face {
font-family: 'Yoga Mobi Pro';
src: url('images/ymp.ttf');
}

@font-face {
font-family: 'Verdana';
src: url('images/verdana.ttf');
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.header{
  background: #FFF;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family: 'Yoga Mobi Pro';
  font-size: 3.5em;
  padding: 10px 60px;
  text-align: right;
  vertical-align: middle;
}

.subtitle {
  font-size: 90%;
  background: #FFF;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid #EEE;
  text-align: right;
  vertical-align: top;
  padding: 0 60px 20px;
}

body{
  background: #EEE;
  color: #777;
  font-family: 'Verdana';
}

h1 {
  font-weight: normal;
  font-size: 200%;
  font-family: 'Yoga Mobi Pro';
}

h3 {
  font-family: 'Yoga Mobi Pro';
  font-weight: normal;
}

a {
  color: #335;
  text-decoration: none;
}

a:hover {
  color: #888;
  text-decoration: underline;
}

/* Navigation bar */
.nav ul {
  background: #FAFAFA;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  margin: 0;
  padding: 0;
  font-size: 90%;
}

ul li {
  position: relative; 
  z-index: 1200;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
}

ul li a {
  text-decoration: none;
  background: url('images/arrow.png') right bottom no-repeat;
  color: #777;
  padding: 10px 20px;
  display: block;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;

}

ul li a:only-child {
  background: none;
  text-decoration: none;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
}

ul li:hover {
  background: #777;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;

}

ul li:hover > a {
  color: #FFF;
  text-decoration: none;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;


}

ul li:hover > ul {
  display: block; 
}

.nav > ul > li {
  display: inline-block; 
}

ul ul {
  position: absolute;
  top: 100%;
  list-style: none;
  background: #FFF;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  display: none;
}

ul ul ul {
  position: absolute;
  left: 100%;
  top: 0;
}

/* Notice Message */
.notice-green {
  width: 520px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  background-color: rgba(200,255,200,0.7);
  opacity: 0.7;
  display: block;
  padding: 0.5em;
  margin: 1.5em auto;
  text-align: center;
  font-size: 95%;
  color: #337033;
  border: 0;
  border-radius: 10px;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  z-index: -1;
}

.notice-red {
  width: 520px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  background-color: rgba(255,180,180,0.7);
  opacity: 0.7;
  display: block;
  padding: 0.5em;
  margin: 1.5em auto;
  text-align: center;
  font-size: 95%;
  color: #703333;
  border: 0;
  border-radius: 10px;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  z-index: -1;
}

.notice-red:hover {
  opacity: 1;
}

.notice-green:hover {
  opacity: 1;
}

li.user_menu {
  float: right;
}

/* Table Style */
table {
  position: relative;
  margin: 1em auto;
  border-collapse:collapse;

}

th {
  background-color: #FAFAFA;
  padding: 6px;
}

td {
  padding: 6px;
  margin: 0;
}

td, table {
  border: 1px solid #DDD;
}

/* Keywords box */
span {
  display: inline-block;
  background: #FFF;
  padding: 5px;
  margin: 3px;
  border-radius: 4px;
  opacity: 0.5;
  text-align: center;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.2);
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
}

span a {
  text-decoration: none;
  color: #333;
}

span:hover {
  opacity: 1;
  color: #77F;
}

/* Search Box */
.search {
  background: #FFF;
  opacity: 0.7;
  border-radius: 5px;
  display: block;
  vertical-align: middle;
  margin: 12px auto 22px;
  padding: 1em 1.5em;
  max-width: 300px;
  text-align: center;
  vertical-align: middle;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  -moz-transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
}

.search:hover {
  opacity: 1;
}

#search-btn {
  border: 1px solid #777;
  border-radius: 4px;
  margin-left: 1em;
  width: 4em;
  height: 24px;
  text-indent: -9999px;
  background: #333 url('images/search.png') no-repeat center center;
  -moz-transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
}

#search-btn:hover {
  background-color: #58B4FF;
}

/* Add Box */
.add-box {
  max-height: 22px;
  padding: 12px;
  margin: 1em auto;
  text-align: center;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
  border-radius: 5px;
  background-color: #FFF;
  width: 80%;
  line-height: 120%;
  opacity: 0.7;
  overflow: hidden;
  display: block;
  font-size: 95%;
  -moz-transition: all 1s ease-out 0.2s;
  -webkit-transition: all 1s ease-out 0.2s;
  -o-transition: all 1s ease-out 0.2s;
}

.add-box:hover {
  max-height: 500px;
  opacity: 1;
}

.add-box h3 {
  font-size: 133%;
  padding: 0;
  margin-top: 0;
}

#delete-btn {
  width: 24px;
  height: 24px;
  background: url('images/delete.png') no-repeat center center transparent;
  border: 0;
  text-indent: -9999px;
}

#delete-form {
  display: inline-block;
}